<nav class="panel">
    <p class="panel-heading">Delete Actions</p>
    <p class="panel-tabs">
        <a href="/Blogs?category=Math" target="_blank">Math</a>
        <a href="/Blogs?category=Science" target="_blank">Science</a>
        <a href="/Blogs?category=Arabic" target="_blank">Arabic</a>
        <a href="/Blogs?category=English" target="_blank">English</a>
    </p>
    <a id="del" data-category="Math" class="panel-block">Math Blogs</a>
    <a id="del" data-category="Arabic" class="panel-block">Arabic Blogs</a>
    <a id="del" data-category="Science" class="panel-block">Science Blogs</a>
    <a id="del" data-category="English" class="panel-block">English Blogs</a>
    <a id="del" data-category="Subs" class="panel-block">Subs</a>
    <div class="panel-block has-text-centered">
        <p class="subtitle">Clear the database</p>
    </div>
</nav>